 {% extends 'base.html'%}
    {% block title %}
<title>Book Detail</title>
    {% endblock %}
{% block content %}
<div class="container w-50 mx-auto mt-4">

<h2>Employee Detail</h2>
<table class ="table table-bordered mt-4 text-centered">
    <tr>
        <th>Name</th>
        <td>{{ emp.Name}}</td>
    </tr>
    <tr>
        <th>Age</th>
        <td>{{ emp.Age}}</td>
    </tr>
    <tr>
        <th>Place</th>
        <td>{{ emp.place}}</td>
    </tr>
    <tr>
        <th>Salary</th>
        <td>{{ emp.Salary}}</td>
    </tr>
    <tr>
        <th>Designation</th>
        <td>{{ emp.Designation}}</td>
    </tr>
    <tr>
        <th>Cover</th>
        <td><img src = "{{ emp.Image.url}}" height="150px" width="150px"></td>
    </tr>

</table>
</div>


{% endblock %}