{%  extends 'base.html'   %}
{% block title %}
    <title> Movie_list </title>
     {% endblock %}
{% block content %}
<h1>Movie List......</h1>
<div class="container">


   <div class="row mt-3">
       {% for m in movies %}
       <div class="col-3 bg-light ms-2 mx-auto" style="min-height:300px" >
        <div class="card mt-1 mb-1" style="width: 16rem;">
  <img src="{{m.image.url}}" height="150px" width="150px" class="card-img-top img-thumbnail" alt="..." >
  <div class="card-body">
    <h5 class="card-title">{{ m.name }}</h5>

    <p class="card-text">{{ m.Year }}
    </p>

    <a href="{% url 'detail_view' m.id %}" class="btn btn-danger">Details</a>
    <a href="{% url 'edit_view' m.id %}" class="btn btn-danger">Edit</a>
    <a href="{% url 'deletemovie' m.id %}" class="btn btn-danger">Delete</a>
  </div>
</div>
       </div>
{% endfor %}

</div>
</div>

{% endblock %}


